.cartLink {
    display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	width: fit-content;
	background-color: #754F44;
    color: #FDD692;
	border: none;
	padding: 1em;
	border-radius: 0.5em;
	cursor: pointer;
	font-size: medium;
}

.itemContainer {
    display: flex;
    grid-template-columns: auto auto;
    gap: 1em;
}

.itemContainer img {
    width: 200px;
    height: 100%;
    border-radius: 1em;
    object-fit: cover;

}

.itemsListContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

.itemContent {
    display: flex;
    flex-direction: column;
    gap: 0.5em ;

}

.portionContainer {
    display: flex;
    align-items: center;
    gap: .5em;
}

.portionBtns {
    display: flex;
    gap: .2em;
}

.confirmBtn {
    position: fixed;
    font-size: medium;
    color: #754F44;
    background-color: #FDD692;
    bottom: 2em;
    right: 2em;
    width: 200px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

@media screen and (max-width: 1080px) {
    .itemContent {
        width:70%;
        font-size: medium;
    }
}

@media screen and (max-width: 1080px) {
    .itemContainer img {
        width: 120px;
        height: 300px;
    }
}

@media screen and (max-width: 420px) {
    .itemContent {
        width: 70%;
        font-size: large;
    }
}

@media screen and (max-width: 480px) {
    .itemContainer img {
        width: 150px;
        height: 330px;
    }
}

@media screen and (max-width: 480px) {
    .confirmBtn {
        position: fixed;
        font-size: medium;   
        color: #754F44;
        background-color: #FDD692;
        right: 260px;
        height:80px;
        width: 100px;
        padding: 10px 20px;
    }
}








